.wpp-yt-playlist-videos {
  @include clearfix;
}

.wpp-yt-grid-col-2 {
  width: 50%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;

  &:nth-of-type(2n+1) {
    padding-left: 0;
    clear: both;
  }

  &:nth-of-type(2n) {
    padding-right: 0;
  }
}

.wpp-yt-grid-col-3 {
  width: 33.33%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;

  &:nth-of-type(3n+1) {
    padding-left: 0;
    clear: both;
  }

  &:nth-of-type(3n) {
    padding-right: 0;
  }
}